header {
	margin-bottom: 50px;
}

p, h2 {
	text-align: center;
}

.part1 {
	text-align: center;
	color: white;
}

.part2 {
	text-align: center;
	padding-top: 15px;
	color: white;
}

.marketing {
	margin-top: 50px;
}

.form-singin {
	width: 100%;
	max-width: 330px;
	margin: auto;
	padding: 15px;
}

.form-resposta {
	width: 100%;
	margin:auto;
	max-width: 500px;
}

.colorgray {
	background-color: #777;
}