header {
	margin-bottom: 50px;
}

p, h2 {
	text-align: center;
}

.part1 {
	text-align: center;
	color: white;
}

.part2 {
	text-align: center;
	padding-top: 15px;
	color: white;
}

.marketing {
	margin-top: 50px;
}

.form-singin {
	width: 100%;
	max-width: 330px;
	margin: auto;
	padding: 15px;
}

.colorgray {
	background-color: #777;
}

.black {
	background-color: black;
}


.feed-item {
	display: flex;
	flex-direction: column;
	background-color: #777;
	padding: 10px;
	border: 7px solid rgb(78, 78, 78);
	border-radius: 7px;
}

.row .name-contact {
	font-size: 28px;
	display: flex;
	justify-content: left;
	color: black;
}

.row .description-contact {
	font-size: 20px;
	display: flex;
	justify-content: left;
	/*background-color: blue;*/
}

.row .button-contact {
	display: flex;
	justify-content: center;
	/*background-color: green;*/
}

.contact-name {
	color: black;
	display: flex;
	justify-content: left;
	font-size: 32px;
	margin: 10px;
}

.contact-description {
	color: white;
	display: flex;
	justify-content: left;
	font-size: 20px;
	margin: 10px;
}

.contact-email {
	color: black;
	display: flex;
	justify-content: left;
	margin: 10px;
}

.contact-answer-area {
	color: black;
	display: flex;
	justify-content: left;
	margin: 10px;
}

.button-contact {
	display: flex;
	justify-content: center;
}

.button-login {
	background-color: rgb(25, 65, 25);
	border-radius: 7px;
}